__pycache__/
*.pyc
.ipynb_checkpoints/


# Dataset (download from Kaggle, don't commit large data files)
notebook/creditcard.csv
*.csv

# Environment
.venv/
venv/
.env

# OS/editor cruft
.DS_Store
.vscode/
